
#formLogin{
    width:100%;
    height:auto;
    input{
        width:90%;
        height:30px;
        text-indent: 10px;
        margin:10px 5%;
        box-sizing: border-box;
    }
    button{
         width:90%;
        height:30px;
        text-indent: 10px;
        margin:10px 5%;
    }
    
}
